<!doctype html>

<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }} &bull; Grupul pentru Software Liber</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link href="assets/images/favicon.png" rel="icon" type="image/png">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>

  <header>
    <div class="row">
      <div class="twelve columns branding">
        <h2>Grupul pentru Software Liber</h2>
        <h5>Împreună pentru dezvoltarea locală</h5>
      </div>
    </div>
  </header>

  <div id="container">
    {{ content }}
  </div>

  <footer>
    <div class="row">
      <div class="eight columns">
        <p>
        RO:Găsiți mai sus o hartă în care încercăm să adunăm informațiile despre grupurile, comunitățile, persoanele implicate în dezvoltarea și promovarea software-ului liber în România. În cazul în care care dotiți să înițiati un grup de utilizator linux în localitatea voastră, adăugați numele vostru și o legătură către un forum sau o listă de discuții unde ați anunțat acest lucru.
        EN:Below you will find a dynamic map with all the Romanian LUGs, communities and people involved in the development of FLOSS and it's promoting. Got a community or Linux user group, or would like to announce it's birth? Fill the form below with the details about what is all about and become visible. Good luck!        
          
        </p>
        <p>
          
        </p>
      </div>
      <div class="four columns spre-dreapta">
        <p>
          
        </p>
        <p class="faded">Ultima dată actualizat în, {{ site.time }}</p>
      </div>
    </div>
  </footer>

  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/assets/javascripts/jquery.gomap-1.3.2.min.js"></script>
  <script src="/assets/javascripts/app.js"></script>
  <script>
    var _gaq=[['_setAccount','{{ site.ga }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
